//
// Scaffolding
// --------------------------------------------------

// Body reset

body {
  font-size: 16px;
  line-height: 1.7;
  font-weight: $font-weight-base;

  @media (min-width: $screen-sm-min) {
    font-size: 18px;
  }

  @media (min-width: $screen-md-min) {
    font-size: $font-size-base;
    line-height: ($base-lh-size / $base-text-size);
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  outline: none;
}

// Page styles
// --------------------------------------------------

.page {
  background-color: $content-bg;
}

p { margin-bottom: 0; }

p + p {
  margin-top: 20px;
}

// Links

a {
  transition: .3s;

  &:hover,
  &:focus {
    outline: none;
  }
}

// Horizontal rules

hr {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid $hr-border;
}

img {
  max-width: 100%;
  height: auto;
}

// Buttons
button {
  background: none;
  border: none;
}

.capitalize {
  text-transform: uppercase;
}

.small-text {
  font-size: 12px !important;
}
